
$green-vogue-100: #dcf0ff;
$green-vogue-200: #b2e3ff;
$green-vogue-300: #6dceff;
$green-vogue-400: #20b5ff;
$green-vogue-50: #eef8ff;
$green-vogue-500: #009cff;
$green-vogue-600: #007bdf;
$green-vogue-700: #0061b4;
$green-vogue-800: #005395;
$green-vogue-900: #00447a;
$green-vogue-950: #00203d;

