---
import "../../styles/AboutMe.scss"
---

<section id="sobremi" class="AboutMe">
  <h2 class="section-title">Sobre mí</h2>
  <div class="AboutMe-content">
    <div class="text-container">
      <p>
        Soy <span class="highlight">Isaac Llorente</span>, Ingeniero de Sistemas con una fuerte pasión por el <span class="highlight">desarrollo web</span> y la <span class="highlight">tecnología</span>. Me encanta transformar ideas en interfaces <span class="highlight">intuitivas</span> y <span class="highlight">funcionales</span> que marcan la diferencia.
  <br><br>
  Me considero una persona <span class="highlight">proactiva</span> y <span class="highlight">colaborativa</span>, con una inclinación natural hacia la <span class="highlight">automatización</span>, la <span class="highlight">eficiencia</span> y los <span class="highlight">detalles</span> que hacen especial cada proyecto.
  <br><br>
  Siempre estoy en búsqueda de <span class="highlight">nuevos retos</span> y <span class="highlight">aprendizajes</span>, con el objetivo de aportar soluciones <span class="highlight">creativas</span>, <span class="highlight">prácticas</span> y con <span class="highlight">identidad propia</span>.
      </p>
    </div>
    <div class="image-container">
      <img src="/isaacllolo.webp" alt="Isaac Llorente" class="me-img" loading="lazy" />
    </div>
  </div>
</section>
