---
import "../../styles/Footer.scss";
---
<footer class="footer">
        
  <div class="footer-content">
     
    <div class="footer-links">
      <a href="mailto:isaaacllolo@gmail.com" aria-label="Correo">
        <iconify-icon icon="mdi:email"></iconify-icon>
      </a>
      <a href="https://linkedin.com/in/isaacllolo" target="_blank" aria-label="LinkedIn">
        <iconify-icon icon="mdi:linkedin"></iconify-icon>
      </a>
      <a href="https://github.com/isaacllolo" target="_blank" aria-label="GitHub">
        <iconify-icon icon="mdi:github" ></iconify-icon>
      </a>
    </div>   
    <span>© {new Date().getFullYear()} Isaac Llorente. Todos los derechos reservados.</span>
  </div>
</footer>
