---
import "../../styles/Hero.scss";
import SocialIcon from "../SocialIcon.astro";
---
 <section id="hero">
    <div class="hero-presentation">
        <p class="hero-text">
            ¡Hola!, soy Isaac Llorente
        </p>   
        <img class="me-img" src="/isaacllolo.webp" alt="Isaac Llorente">
        </div>
        <div class="hero-buttons">
        <SocialIcon url="https://linkedin.com/in/" name="LinkedIn" icon="linkedin" />
        <SocialIcon url="mailto:isaaacllolo@gmail.com" name="Contactame" icon="gmail" />


        </div>

       <div class="home-image">
  <div class="home-image-header">
    <div class="dots">
      <span class="dot red"></span>
      <span class="dot yellow"></span>
      <span class="dot green"></span>
    </div>
    <div class="title">isaacllolo.github.io</div>
  </div>

  <div class="home-image-body">
    <pre class="terminal-text">
<span class="highlight">Ingeniero de Sistemas | Web dev</span>
+9 meses de experiencia
Cartagena, Colombia 🇨🇴
Diseño y programo experiencias como si fueran paneles de control de una nave espacial: claras, intuitivas y listas para despegar.<span class="cursor">▌</span>
    </pre>
  </div>
</div>

 </section>