---
import Layout from '../layouts/Layout.astro';
import Header from '../components/sections/Header.astro';
import "../styles/Header.scss";
import AboutMe from '../components/sections/AboutMe.astro';
import Technologies from '../components/sections/Technologies.astro';
import Works from '../components/sections/Works.astro';
import Footer from '../components/sections/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Experience from '../components/sections/Experience.astro';
---

<Layout title="Welcome to Astro.">
	<Header></Header>
	<main>
	<Hero></Hero>
	<Technologies></Technologies>
	<Works></Works>
	<Experience></Experience>
	<AboutMe></AboutMe>
	<Footer></Footer>
	</main>
</Layout>

<style>
	html {
		background: var(--Green-Vogue-950, #00203D);
	}
	main {
	padding: 0.5rem 2rem;
	width: 100%; /* ✅ Usa 100% del contenedor sin romper el layout */
	box-sizing: border-box;
	}
x
</style>
