---
import "../styles/AboutMe.scss"
import AboutPhoto from "../components/icons/AboutPhoto.astro"

---

<div class="AboutMe">
    <h2>Sobre mi</h2>
    <div class="AboutMe-content">
        <p>¡Hola! Soy <span>Isaac Llorente</span>, estudiante de la <span>Universidad de Cartagena</span> y un entusiasta de la creación web. Mi enfoque abarca diversas tecnologías <span>frontend</span>, y me caracterizo por ser proactivo en mi trabajo. Disfruto colaborando en equipos, donde puedo aportar mi capacidad para encontrar soluciones innovadoras.
            <br>
            Con un compromiso constante, siempre estoy en búsqueda de oportunidades para aprender y crecer. Estoy emocionado por seguir contribuyendo a proyectos impactantes y construir algo increíble juntos. </p>
        <AboutPhoto />
    </div>
    
    </div>
