---
import Linkedin from "../components/icons/Linkedin.astro"
import Github from "../components/icons/Github.astro"
---


<footer>
    
        <span></span>
        <div class="redes">
            <a  class="redes-icon"href="">
                <Linkedin/>
            <a class="redes-icon"href="">
                <Github/>  
            </a>
        </div>
        <span></span>
        <a href=""></a>

</footer>