---
import "../styles/index.scss"
import "../styles/Header.scss"
import Linkedin from "../components/icons/Linkedin.astro"
import Github from "../components/icons/Github.astro"
import HeaderImage from "../components/icons/HeaderImage.astro"


---
<header>
    <nav class="main-navbar">
        <div class="redes">
            <a  class="redes-icon"href="">
                <Linkedin/>
            <a class="redes-icon"href="">
                <Github/>  
            </a>
        </div>
        <div class="navigation">
        <a href="/">Sobre mi</a>
        <a href="/">Conocimiento</a>
        <a href="/">Proyectos</a>
        <a href="/">Contacto</a>
        </div>  
    </nav>
    
    <div id="header-content">
        
        <p class="header-text">
            <span id="saludo">¡Hola!</span>
            <br>
            <span id="iam">Soy Isaac Llorente, </span>
            <br>
            <span id="profession">frontend developer.</span>
            <button class="Cv-button">Descargar CV</button>
        </p>
        <HeaderImage/>
            
    </div>
   
</header>
